@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,900&display=swap');

* {
    font-family: Roboto, san-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    width: min(100%, 800px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    display: grid;
    grid-template: 1fr 2fr / repeat(2, 1fr);
    grid-template-areas: 
    "title title"
    "desc picture";
    
}
.about h2 {
    grid-area: title;
    text-align: center;
}
.about p {
    grid-area: desc;
}
.about img {
    grid-area: picture;
}

.storehours {

}
.storehours ul {
    padding: 0;
}
.storehours li {
    list-style: none;
}